<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.asvtech.buttontry">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ButtonTry">

        <activity android:name="com.asvtech.buttontry.ImageeButton"/>

        <activity android:name="com.asvtech.buttontry.RatingBarr" />
        <activity android:name="com.asvtech.buttontry.ProgressBarr" />

        <activity android:name="com.asvtech.buttontry.AutoCompleteTextvieww" />
        <activity android:name="com.asvtech.buttontry.DatePickerr" />
        <activity android:name="com.asvtech.buttontry.AlertDialogg" />
        <activity android:name="com.asvtech.buttontry.ToggleButton" />
        <activity android:name="com.asvtech.buttontry.ChkBox" />
        <activity android:name="com.asvtech.buttontry.SwitchButton" />
        <activity android:name="com.asvtech.buttontry.Toast" />
        <activity android:name="com.asvtech.buttontry.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.asvtech.buttontry.spinner_example"/>
    </application>

</manifest>